@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      color-scheme: light !important;
    }
}
 
@font-face {
    font-family: 'MarkPro';
    src: url('/fonts/FontFont_FF.Mark.Pro.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MarkPro';
    src: url('/fonts/FontFont_FF.Mark.Pro.Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MarkPro';
    src: url('/fonts/FontFont_FF.Mark.Pro.Bold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}